/* Google web font */
/*@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);*/
@import url('https://fonts.googleapis.com/css?family=Spectral');

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 200px;
    font-family: 'Spectral', serif;
    /*font-size: 14px;*/
    /*font-family: 'Roboto', sans-serif;*/
    /*font: 16px/1.5 Roboto, sans-serif;*/
    background: #717174;
}

.container {
    background-color: white;
}

/*body > .container {
    padding: 100px 15px 0;
}*/

/*.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}*/

main {
    padding: 0 0;
    display: block;
}

/* This ensures the footer is always located at the bottom of the page */

.footer {
    position: absolute;
    /*position: sticky;*/
    bottom: 0;
    height: 200px;
    width: 100%;
    /*border-top: 2px solid grey;*/
    border-bottom: 2px solid grey;
    padding-top: .75rem;
    background-color: #717174;
    text-align: center;
}


/* colour all links green */
a {
    color: #00C851;
}

nav a {
    text-decoration: none;
    font-size: 1.2em;
}
    


/*.myFooterPadding {
    padding-top: 20px;
}*/

/* Carousel styles */

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
    /*SET IN BootStrap AS FLEXBOX. SO PERSPECTIVE SCALE DID NOT WORK*/
    display: block;
}

.carousel-inner > .carousel-item > a > img,
.carousel-inner > .carousel-item > img,
.img-responsive {
    display: block;
    max-width: 100%;
    height: 550px;
}

/* on phones set the height to auto instead of fixed 550px */
@media (max-width: 576px) {
    .carousel-inner > .carousel-item > a > img,
    .carousel-inner > .carousel-item > img,
    .img-responsive {
        height: auto;
    }
}


.carousel-fade .carousel-inner .carousel-item {
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    -ms-transition-property: opacity;
    transition-property: opacity;
}

.carousel-inner .carousel-item,
.carousel-inner .active.carousel-item-left,
.carousel-inner .active.carousel-item-right {
    opacity: 0;
    transition: opacity 1s ease-out;
}

.carousel-inner .active,
.carousel-inner .carousel-item-next.carousel-item-left,
.carousel-inner .carousel-item-previous.carousel-item-right {
    opacity: 1;
    transition: opacity 1s ease-in;
}

.carousel-item.active,
.active.carousel-item-left,
.active.carousel-item-prev,
.carousel-item-next.carousel-item-left,
.carousel-item-prev.carousel-item-right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}


/* Footer Facebook svg icon */
#facebookSVG {
    width: 23px;
    height: auto;
}

/* icons images in footer */
.myFooterIcons {
    width: 23px;
    height: auto;
    padding-right: 5px
}

/* set the background color for carousel of visitors book cards on home page */
.card {
    background-color: #00C851;
    border-color: #00C851;
}

/* bookingTable align the header in column 1 centre */
#bookingTable tr th:first-child {
    text-align: center;
}
/* bookingTable align the column 1 rows centre and bold */
#bookingTable tr td:first-child {
    text-align: center;
    font-weight: 600;
}

/* class=booked shading color in bookingTable(s) and vertical align for rowspan rows */
.blank {
    background-color: #00C851;
    vertical-align: middle !important;
}

/* bold the intermediate column headings in bookingTable(s) */
.myHighlight {
    font-weight:700;
}

